
<table>
  <tr>
    <td>
      <svg #worldSvg width="1000" height="800" viewBox="0 0 1000 800">
      </svg>
    </td>
    <td>
      <table id="informationTable">
        <tr>
          <th colspan="2" id="countryName"></th>
        </tr>
        <tr>
          <td>Capital City:</td>
          <td id="countryCapitalCity"></td>
        </tr>
        <tr>
          <td>Country Region:</td>
          <td id="countryRegion"></td>
        </tr>
        <tr>
          <td>Income Level:</td>
          <td id="incomeLevel"></td>
        </tr>
        <tr>
          <td>Country Latitude:</td>
          <td id="countryLatitude"></td>
        </tr>
        <tr>
          <td>Country Longitude:</td>
          <td id="countryLongitude"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
